In [2]:
import pandas as pd
import time
import os
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [3]:
executable_path = {"executable_path": "C:\\Users\\Agodw_000\\Desktop\\chromedriver_win32 (4)\\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text
print("News Title:", news_title)
print(news_p)

News Title: Curiosity Tastes First Sample in 'Clay-Bearing Unit'
This new region on Mars might reveal more about the role of water on Mount Sharp.

In [7]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [8]:
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')

In [9]:
featured_image= jpl_soup.find('a', class_="button fancybox")["data-fancybox-href"]
featured_image

'/spaceimages/images/mediumsize/PIA20464_ip.jpg'

In [10]:
featured_image_url= print(f"https://www.jpl.nasa.gov/{featured_image}")

https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA20464_ip.jpg

In [11]:
mars_weather_url="https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)

In [12]:
mars_weather_html= browser.html
mars_weather_soup= bs(mars_weather_html,"html.parser")

In [13]:
mars_weather= mars_weather_soup.find("div", class_= "js-tweet-text-container").text
mars_weather

'\nInSight sol 137 (2019-04-16) low -97.0ºC (-142.7ºF) high -15.9ºC (3.4ºF)\nwinds from the SW at 4.3 m/s (9.7 mph) gusting to 12.4 m/s (27.7 mph)\npressure at 7.30 hPapic.twitter.com/jhaMb7q9gy\n'

In [14]:
mars_weather1=print("sol 134 (2019-04-12), low -98.4ºC (-145.1ºF), high -18.2ºC (-0.8ºF), npressure at 7.30 hPapic")

sol 134 (2019-04-12), low -98.4ºC (-145.1ºF), high -18.2ºC (-0.8ºF), npressure at 7.30 hPapic

In [15]:
mars_facts_url= "https://space-facts.com/mars/"

In [16]:
df=pd.read_html(mars_facts_url)
df=df[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
df.columns=["facts","values"]
df

                  facts                         values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_html= df.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>facts</th>
      <th>values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [43]:
mars_hem_url= "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hem_url)
hemis_html = browser.html
soup = bs(hemis_html, 'html.parser')

titles = ["Cerberus","Schiaparelli","Syrtis","Valles"]
hemisphere_image_urls=[]

for title in titles:
    mars_hem_url= "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(mars_hem_url)
    mars_hem_html= browser.html
    mars_hem_soup= bs(mars_hem_html,"html.parser")
    browser.click_link_by_partial_text(title)
    soup6= bs(browser.html,"html.parser")
    mars_hem6= soup6.find("div", class_ = "downloads").find_all("li")[0].find("a")["href"]
    mars_hem_title6= soup6.find("h2",class_="title").text
    hemisphere_image_urls.append({"titles":mars_hem_title6, "url":mars_hem6})
print(hemisphere_image_urls)

[{'titles': 'Cerberus Hemisphere Enhanced', 'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'}, {'titles': 'Schiaparelli Hemisphere Enhanced', 'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'}, {'titles': 'Syrtis Major Hemisphere Enhanced', 'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'}, {'titles': 'Valles Marineris Hemisphere Enhanced', 'url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]